<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="index.css">
  <script src="index.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Handy</title>
</head>
<body class="w-full min-h-screen flex flex-col justify-between items-center bg-yellow-50">
  <%- include('../partials/header.ejs') %>
  <main class="w-full flex flex-col p-10">
    <%- body %>
  </main>
  <%- include('../partials/footer.ejs') %>
</body>
</html>